<!DOCTYPE html>
<html>
<head>
	<title>CHATBOT</title>
</head>
<body>

	<div id="escopochatbot"></div>

	<script type="text/javascript">
		
		window.onload = start;

		var escopochatbot = document.getElementById('escopochatbot');

		function start(){
			mensagemOla("<%=@nome_caboco%>", "<%=@email_caboco%>");
		}

		function mensagemOla(nome, email){
			var p = document.createElement("p");
			p.setAttribute("id", "msgOla");
			p.innerHTML = "Olá <b>" + nome + "</b>, seja bem vindo ao chatbot! Seu email: <b>" + email + "</b> ";
			escopochatbot.appendChild(p);
		}

	</script>

</body>
</html>