<!DOCTYPE html>
<html>
<head>
	<title>SEND FORM</title>
</head>
<body>
	<form action="/auth" method="POST">
		<input type="text" name="nome_caboco">
		<input type="email" name="email_caboco">
		<button type="submit">SEND</button>
	</form>
</body>
</html>